localhost

root public/
ext .html .md
templates
errors {
	log error.log
	404 ../404.html
}
markdown /blog {
	dev
	template ../blog_post_template.html
	template index ../blog_index_template.html
}
markdown /docs {
	dev
	template ../docs_template.html
}

# build server
proxy /download/build localhost:5050
proxy /features.json  localhost:5050

# payment gateway
proxy /stripe  localhost:5051

# security headers
header / Content-Security-Policy "style-src 'self' 'unsafe-inline' https://fonts.googleapis.com/ https://maxcdn.bootstrapcdn.com; script-src https://sidecar.gitter.im https://www.google-analytics 'self' 'unsafe-inline' 'unsafe-eval' data: blob: https:; img-src 'self' data: https:; font-src 'self' https: data: blob:; media-src 'self' https: data: blob:; connect-src 'self' https:; object-src 'none';"
header / X-Frame-Options SAMEORIGIN
header / X-Content-Type-Options nosniff
header / X-XSS-Protection "1; mode=block"
