localhost

root public/
ext .html .md
templates
errors {
	log error.log
	404 ../404.html
}
markdown /blog {
	dev
	template ../blog_post_template.html
	template index ../blog_index_template.html
}
markdown /docs {
	dev
	template ../docs_template.html
}

# build server
proxy /download/build localhost:5050
proxy /features.json  localhost:5050

# payment gateway
proxy /stripe  localhost:5051
