header {
	background-image: url('/resources/images/stargazing.jpg');
	background-position: center 20%;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 160px 0 150px;
}

h1 {
	color: #FFF;
	font-size: 34px;
	font-weight: normal;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	max-width: 800px;
	margin: 50px auto 25px;
}

header h2 {
	font-size: 16px;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .8);
	color: #FFF;
	max-width: 550px;
	margin: 0 auto;
	font-weight: 300;
	letter-spacing: 1px;
}

h3 {
	text-align: center;
	margin-bottom: 30px;
}

.buildserver-down {
	display: none;
	background-color: #FFEFD1;
	border: 1px solid #EAAD3F;
	border-radius: 5px;
	margin-bottom: 50px;
	padding: 0 20px;
	margin-top: -30px;
}

.buildserver-down p {
	position: relative;
	margin: 0 auto;
	max-width: 600px;
}

.buildserver-down .fa {
	vertical-align: middle;
	position: absolute;
	left: -1.25em;
	top: 20px;
	color: #EAAD3F;
}

@media (max-width: 800px) {
	.buildserver-down .fa {
		display: none;
	}
}


#features {
	width: 100%;
}

#features label,
#features .label {
	display: block;
	font-size: 14px;
	cursor: pointer;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	margin-bottom: 10px;
	transition: transform .1s ease;
	text-decoration: none;
}

#features label:hover,
#features .label:hover {
	border-color: #DDD;
}

#features label:active,
#features .label:active {
	transform: scale(.97);
}

#features .directive {
	display: block;
	font-size: 16px;
	margin-bottom: 5px;
}

#features input[type=checkbox] {
	margin-right: 5px;
	cursor: pointer;
}

#features .description {
	color: #777;
	font-size: 13px;
}

#features .add-yours {
	border: 1px dashed #CCC;
}

#features .add-yours:hover {
	border-color: #0EADFF;
}

#features .add-yours .directive,
#features .add-yours .description {
	color: #777;
}

#features .add-yours:hover .directive,
#features .add-yours:hover .description {
	color: #0EADFF;
}


.payment-box {
	background: #EFEFEF;
	padding: 20px 0;
}

.payment-box h3 {
	margin-bottom: 0;
}

.payment-explanation {
	max-width: 650px;
	margin: 0 auto;
}

.payment-explanation p {
	max-width: none;
	color: #000;
}

.payment-input {
	font-size: 18px;
	text-align: center;
	font-weight: bold;
}

.payment-input input[type=text] {
	padding: 10px 10px 10px 1.25em;
	font-size: 18px;
	width: 80px;
	color: #1FB91F;
}

.payment-input .dollar-label {
	position: relative;
	left: 20px;
	font-weight: normal;
	color: #1FB91F;
}

.payment-input button {
	color: #1fb91f;
	border-color: #1fb91f;
	padding-top: 12px;
	padding-bottom: 12px;
	top: -2px;
}

.payment-input button:active {
	top: 0px;
}

.payment-input button:active {
	color: #FFF;
	background: #1fb91f;
	border-color: #FFF;
}

#amount-feedback {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
	min-height: 1.5em;
	margin-top: -8px;
}

.pay-subscribe-container {
	margin-top: 20px;
	text-align: center;
}

.pay-subscribe-container input[type=checkbox] {
	font-size: 16px;
}

#payment-success {
	max-width: 600px;
	margin: 0 auto;
	background: #00A929;
	padding: 15px;
	display: none;
}

#payment-success h5,
#payment-success p {
	text-align: center;
	color: #FFF;
	font-size: 14px;
	max-width: none;
}

#payment-success h5 {
	font-size: 18px;
}

#payments-down {
	text-align: center;
	font-style: italic;
	color: #CA0000;
	display: none;
	margin: 10px auto;
}

.icon-container {
	text-align: center;
}

.icon-container .icon {
	display: block;
	font-size: 70px;
	margin: 0px 0 20px;
}

.icon-container img.icon {
	margin: 5px auto 20px;
}

.disabled {
	opacity: .25;
	cursor: default;
}

.download-link {
	display: block;
	padding: 7px 0;
	border: 1px solid #EEE;
	margin: 5px auto;
	max-width: 160px;
	text-decoration: none;
	transition: transform .25s ease;
}

.download-link:not(.disabled):hover {
	background: #FAFAFA;
}

.download-link:not(.disabled):active {
	transform: scale(.9);
}

.download-link.downloading {
	cursor: default;
	background: #FAFAFA;
	border-color: transparent;
}

.download-link.disabled {
	opacity: 1;
	color: #3BADE3 !important;
}

.download-link > span {
	display: block;
	-webkit-animation-duration: .5s;
	animation-duration: .5s;
}

.download-link .spin-text {
	color: #777;
	font-size: 12px;
	text-transform: uppercase;
	margin-left: 15px;
}

.version {
	text-align: center;
	font-size: 14px;
	max-width: 400px;
	margin: 50px auto 0;
	color: #444;
}



@media (max-width: 960px) {
	.use-case label {
		display: block;
		line-height: 1em;
	}
}



.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > span {
  width: 10px;
  height: 10px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: bouncedelay 1.4s infinite ease-in-out;
  animation: bouncedelay 1.4s infinite ease-in-out;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
  0%, 80%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
