nav {
	background: rgba(0, 33, 50, .9);
	box-shadow: none;
	height: 65px;
	overflow: hidden;
}

nav a {
	color: rgba(164, 220, 255, 0.6);
}

nav a:hover {
	color: rgba(164, 220, 255, 1);
}

nav .logo-container {
	text-align: left;
}

nav .nav-menu {
	margin-top: 0;
	text-align: right;
	transform-origin: 50% 0;
	transition: 350ms;
}

nav.expanded {
	overflow: visible;
	height: auto;
	max-height: 1000px;
}

nav.expanded .nav-menu {
	transform: perspective(400) rotate3d(0,0,0,0);
	margin-top: 0;
	padding: 0;
}

nav .menu-link {
	color: #FFF;
	display: none;
	position: absolute;
	top: 20px;
	right: 20px;
	font-size: 24px;
	cursor: pointer;
}

nav .menu-link:hover {
	color: rgba(164, 220, 255, 1);
}

.donate-link {
	background-color: rgba(39, 195, 5, 0.72);
	color: #FFF;
}

.donate-link:hover {
	background-color: rgba(46, 255, 0, 0.72);
	color: #FFF;
}

section {
	padding: 100px 5%;
	box-shadow: 0 0 50px 10px rgba(0, 0, 0, .7);
	z-index: 2;
	position: relative;
}

h2 {
	color: #2A4A6A;
	font-weight: bold;
	font-size: 52px;
	text-align: center;
}

h3 {
	font: 600 24px/1.25em 'Lato', sans-serif;
}

p + h3 {
	margin-top: 1em;
}

p {
	max-width: 500px;
}

p.subheader {
	font-size: 18px;
	max-width: 620px;
	margin: 0 auto 50px;
	text-align: center;
}






.bg {
	padding: 170px 5%;
	background-position: 100% center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	box-shadow: none;
	z-index: 1;
}

.bg h1,
.bg h2 {
	font-size: 52px;
	font-weight: normal;
	color: #FFF;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .8);
	max-width: 960px;
	margin: 0 auto;
}


.bg1 {
	background-image: url('/resources/images/atomicthing2.jpg');
}

.bg2 {
	background-image: url('/resources/images/crystalpines.jpg');
}

.bg3 {
	background-image: url('/resources/images/allthatglitters.jpg');
}

.bg4 {
	background-image: url('/resources/images/circuitboard.jpg');
}


@media (max-width: 1100px) {
	nav a {
		padding: 25px 15px;
	}
}


@media (max-width: 850px) {
	nav .nav-menu {
		margin-top: 65px;
		transform: perspective(400) rotate3d(1,0,0,90deg);
	}

	nav .nav-menu a {
		display: block;
		text-align: left;
		padding: 15px;
	}

	nav .menu-link {
		display: block;
	}
}

@media (max-width: 767px) {
	footer img {
		margin-top: 30px;
	}
}