<!DOCTYPE html>
<html>
	<head>
		<title>404 Not Found - Caddy</title>
		{{ partial "head" }}
<style>
body {
	background: #F0ECE5;
	padding: 5%;
}
#main {
	margin: 0 auto;
	max-width: 500px;
	border: 1px solid #BDA99D;
	background: #FFFCF4;
	padding: 4%;
}

#main img {
	display: block;
	width: 100%;
	max-width: 300px;
	margin: 0 auto 50px;
}

h1 {
	text-align: center;
	color: #CC0000;
	font-size: 24px;
}

h2 {
	color: blue;
	text-align: center;
}
</style>
	</head>
	<body>

		<div id="main">
			<img src="/resources/images/caddy-open.png">
			<h1>Not Found :(</h1>
			<p>
				What you are looking for... it isn't here. I'm terribly sorry about that.
			</p>
			<p>
				But you know what's cool? <b><a href="/docs/errors">Custom error pages!</a></b> Like this one.
			</p>
			<p>
				Or... you could just <a href="/">go home</a>.
			</p>
		</div>

	</body>
</html>
