<!DOCTYPE html>
<html>
	<head>
		<title>Caddy Documentation</title>
		{{ partial "docs/head" . }}
	</head>
	<body>
		<main>
			<h1>User Guide</h1>
			<p>
				These documents describe how to use, configure, and extend Caddy.
			</p>

			<p>
				If you're new to Caddy, try the <a href="/docs/getting-started">Getting Started</a> guide.
			</p>

			<p>
				Once you know how to run Caddy, be sure check out the <a href="/docs/caddyfile">Caddyfile</a> so you can configure your site and get the most out of Caddy.
			</p>

			<p>
				Most of these documents are organized by directive name. You can learn how to use Caddy's many features by looking at the documentation for the various directives.
			</p>

			<h2>
				For Go Developers
			</h2>

			<p>
				Did you know that Caddy is an easy project to get involved with? From writing tests and middleware, to closing issues and fixing bugs, or even improving documentation&mdash;there's something for everyone. Please <a href="https://github.com/mholt/caddy">check it out on GitHub</a> to help make Caddy better!
			</p>

			<p>
				You can also <a href="https://godoc.org/github.com/mholt/caddy/caddy">embed Caddy</a> in your own Go programs.
			</p>


			<footer>
				&copy; {{ .Now.Year }}
			</footer>
		</main>

		{{ partial "docs/nav" . }}
	</body>
</html>
